.bgGery {
	background-color: #0066B3;
}
.bgTitleBlue {
	font-family: "標楷體", "新細明體", "細明體";
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #0066B3;
	text-align: center;
}
.text {
	font-family: "新細明體", "細明體", "標楷體";
	font-size: 13px;
	border: 1px solid #0066B3;
	height: 20px;
	width: 70px;


}
.textForID {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	border: 1px solid #0066B3;
	height: 20px;
	width: 100px;


}
.textForDept {
	font-family: "新細明體", "細明體", "標楷體";
	font-size: 13px;
	border: 1px solid #0066B3;
	height: 20px;
	width: 150px;


}
.bgSubTitle {
	font-family: "新細明體", "細明體", "標楷體";
	font-size: 15px;
	background-color: #BFE4FF;
}
.bgRightColumn {
	font-family: "新細明體", "細明體", "標楷體";
	font-size: 15px;
	background-color: #E6F4FF;
}
.bgTitleLigetBlue {
	font-family: "新細明體", "細明體", "標楷體";
	font-size: 15px;
	color: #006699;
	background-color: #80C9FF;
	font-weight: bold;
}
